
body{
    background-image: url(premium_vector-1720440170692-f25c2a0a5f1d.avif);
   width: 100px;
   overflow: hidden;
}


.card{
    height: 500px;
    width: 600px;
    border-radius: 50px;
    background-image:linear-gradient(pink,rgba(140, 0, 255, 0.582));
    color:wheat;
    font-size: large; 
    border: 20px;
    margin-left: 300px;
    margin-top: 200px; 
    display: flexbox;
    flex-wrap: wrap;

}


h1{
    text-align: center;
    color: blueviolet;
    background-color: antiquewhite;
}
#do{
    text-align: center;
    padding: 20px;
    
    
}

.main{
    display: flex;
justify-content: space-around;
margin: 10px;
padding: 10px;
 color:blueviolet;

 
 
}
button{
    height: 50px;
    width: 70px;
    color:blueviolet;
    border: none;
    border-radius: 20px;
    font-size: large;
    margin: 5px;
    padding: 5px;
    background: none;
    

}
input{
    
    height: 70px;  
    width: 200px;
    color:blueviolet;
    border: none;
    border-radius: 30px;
    font-size: large;
    background-color: blanchedalmond;
    
}
#addtask{
    height: 70px;
    width: 100px;
    font-size: medium;
    border-radius: 30px;
    background-color: blanchedalmond;
    
}






/* mobile */
@media (max-width: 600px) {
  .card {
     
     height: 250px;
    width: 300px;
    border-radius: 50px;
    background-image:linear-gradient(pink,rgba(140, 0, 255, 0.582));
    color:wheat;
    font-size: large; 
    border: 20px;
    margin-left: 50px;
    margin-top: 170px; 

    
  }
  button{
    height: 30px;
    width: 50px;
   margin: 20px;
}
}


/* Tablet */
@media (min-width: 601px) and (max-width: 900px) {
  .card {
      
     height: 400px;
    width: 500px;
    border-radius: 50px;
    background-image:linear-gradient(pink,rgba(140, 0, 255, 0.582));
    color:wheat;
    font-size: large; 
    border: 20px;
    margin-left: 150px;
    margin-top: 200px; 
  }
}

